{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}
    All Books
{% endblock %}

{% block content %}

{% for book in object_list %}
<div class="card mt-5">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'book-detail' book.pk %}">{{book.title}} by {{book.author}}</a></h5>
      <h6 class="card-subtitle mb-2 text-muted">{{book.synopsis}}</h6>
      <p class="card-text"></p>
    
      {% if user and user.is_authenticated and user.is_superuser%}
    <a class="card-link" href="{% url 'book-update' book.pk %}">Update</a><br>
    <a class="card-link" href="{% url 'book-delete' book.pk %}">Delete</a>
    <a class="card-link" href="{% url 'review-create' book.pk %}">Write a Review</a>
    {% elif user and user.is_authenticated and not user.is_superuser %}
    <a class="card-link" href="{% url 'review-create' book.pk %}">Write a Review</a>
    {% endif %}

    </div>
  </div>

{% endfor %}


{% endblock %}